<header>
    <p id="logo"><a href="/">RailsCamp<span>Blog</span></a></p>
    <nav>
        <ul>
            <li><%= link_to "トップ", root_url %> </li>
            <% if signed_in? %> 
                <li><%= link_to "新規投稿", articles_new_path %> </li>
                <li><%= link_to "ログアウト", users_sign_out_path, method: :delete %> </li>
            <% else %>
                <li><a href="/users/sign_up">ユーザー登録</a></li>
                <li><a href="/users/sign_in">サインイン</a></li>
            <% end %>
            <div class="clear"></div>
        </ul>
    </nav>
    <div class="clear"></div>
</header>